<!DOCTYPE html>

<head>
    <title>Trang Chu</title>
</head>

<body>
    <div>Day la trang chu</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // call with server socket
        const socket = io('http://localhost:3000')

        $(document).ready(() => {
            alert('Hello')
        })
    </script>
</body>

</html>