<!DOCTYPE html>

<head>
    <title>Socket.io</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="exec.js"></script>
</head>

<body>
    <div class="container">
        <div class="loginForm">
            <h3>WHAT IS YOUR NAME ?</h3>
            <input type="text" id="txtLogin">
            <input type="button" id="btnRegister" value="Register">
        </div>

        <div class="chatForm">
            <h1>CHAT ONLINE</h1>
            <div id="left">
                <div id="boxTitle">User Online</div>
                <div id="boxContent"></div>
            </div>
            <div id="right">
                <div id="sayHi">
                    Hello <span id="username"></span>
                    <input type="button" id="btnLogout" value="logout">
                </div>
                <div>
                    <div id="listMessage"></div>
                    <div id="key">...</div>
                    <div>
                        <input type="text" id="txtMessage">
                        <input type="button" id="btnSend" value="Send">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>